* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

section {
	width: 80%;
	margin: 0 auto;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	background-color: grey;
	padding: 10px;
	margin: 20px;
}

header {
	height: 700px;
	background-image: url('stock-image1.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

h1 {
	padding: 100px 0;
	font-size: 70px;
}

h2, h3 {
	padding: 0 30px;
	align-text: center;
}

.nav-item {
	color: white;
	padding: 5px;
}

.project-item {
	padding: 10px;
	background-color: blanchedalmond;
	margin: 10px;
	border-radius: 15px;
}

html {
	
}
