* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

section {
	width: 80%;
	margin: 0 auto;
}

nav {
	position: fixed;
	top: 0;
	right: 0;
	background-color: grey;
	padding: 10px;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

header {
	height: 100vh;
	background-image: url('stock-image1.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
}

h1 {
	padding: 100px 0;
	font-size: 70px;
	margin: 0;
}

h2, h3 {
	padding: 0 30px;
	text-align: center;
}

.project-item a {
	padding: 10px;
	background-color: lightgray;
	border-radius: 5px;
}

.nav-item {
	color: white;
	padding: 5px;
}

.project-item {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
	background-color: gray;
	color: white;
	margin: 10px;
	border-radius: 15px;
}

.project-image {
	width: 100px;
	height: 100px;
	margin: auto 0;
}

.project-info {/*
	background-color: teal;*/
	display: flex;
	flex-direction: column;
	width: 45%;
}

.project-info div {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 0;
}

.fa {
	font-size: 50px;
	width: auto;
	height: auto;
	text-align: center;
	text-decoration: none;
	background-color: black;
	color: white;
	border-radius: 40%;
}

.media-links {
	display: flex;
	justify-content: space-evenly;
}

.media-links a {
	margin: 10px;
	padding: 20px;
}

footer div {
	border-top: 1px solid gray;
	padding: 10px 0;
	text-align: right;
}
