* {
	box-sizing: border-box;
}

section {
	width: 80%;
	margin: 0 auto;
}

nav {
	float: right;
	background-color: grey;
	padding: 10px;
	margin: 20px;
}

.nav-item {
	color: white;
	padding: 5px;
}

header {
	height: 500px;
	background-color: black;
	color: white;
}

section {
}
